.notFound {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  height: calc(100vh - 70px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.notFoundInner {
  line-height: 48px;

  h1 {
    display: inline-block;
    margin: 0 20px 0 0;
    padding-right: 23px;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, .3);
  }

  .descrWrap {
    display: inline-block;
  }

  h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
}